* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f7f9fd;
}

/* NAVBAR */

/* SLIDER */
#slider {
  padding-top: 5rem;
}
#button-card {
  width: 130px;
}

/* TABLE */
thead {
  text-align: center;
}

table td {
  vertical-align: middle;
}

th {
  vertical-align: middle;
}
