* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f7f9fd;
}

/* NAVBAR */

/* SLIDER */
#slider {
  padding-top: 5rem;
}
#button-card {
  width: 130px;
}

a {
  text-decoration: none;
}

/* PRODUCT */
/* #cobatilt {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
#gambartilt {
  transform: translateZ(20px);
} */

/* TABLE */
thead {
  text-align: center;
}

table td {
  vertical-align: middle;
}

th {
  vertical-align: middle;
}
